@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
header{
    margin-top: 70px;
    height: 90vh;
    margin-bottom: 50px;
}
nav{
    margin-bottom: 50px;
    background-color: black;
}
.inav{
    height: 30px;
    width: 50px;
}
header img{
    height: 90vh;
}
.cont-1 img{
    height:250px;
}
.eve{
    background-image: url(./img/Events-work.png);
    height: 100vh;
    /*width: 100%;*/
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.eve-cover{
    

   margin: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.eve-cover h2{
    font-family: 'Bungee Inline', cursive;
    color: rgb(18, 19, 18);
    margin-top: 50px;
}
.eve-cover button{
    background-color: transparent;
}
.evecrd1{
    
    
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.evecrd1:hover{
   
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: drop-shadow(0 0 0.75rem rgb(184, 141, 150));
}
.crdbtn{
    border: none;
    background: transparent;
    margin-top: 90%;
}